# TP 12 : Bases de données

On va utiliser python dans ce tp pout accéder aux bases de données, mais de manière la plus transparente possible.

Commençons par charger une extension ipython permettant de se connecter à une base de données et d'interagir avec en SQL.

In [1]:
%load_ext sql

Connectons-nous à la base `Population.db` pour tester quelques exemples du cours.

In [2]:
%sql sqlite:///Population.db

'Connected: @Population.db'

Dorénavent, il suffit de débuter chaque cellule par la commande magique `%%SQL` et décrire en dessous vos requêtes SQL.

In [5]:
%%sql

SELECT *
FROM Communes
LIMIT 10;

 * sqlite:///Population.db
Done.

[(84, '01', 1, "L'Abergement-Clémenciat", 798),
 (84, '01', 2, "L'Abergement-de-Varey", 257),
 (84, '01', 4, 'Ambérieu-en-Bugey', 14514),
 (84, '01', 5, 'Ambérieux-en-Dombes', 1776),
 (84, '01', 6, 'Ambléon', 118),
 (84, '01', 7, 'Ambronay', 2915),
 (84, '01', 8, 'Ambutrix', 777),
 (84, '01', 9, 'Andert-et-Condon', 335),
 (84, '01', 10, 'Anglefort', 1122),
 (84, '01', 11, 'Apremont', 379)]